{
  "root": true,
  "extends": [
    "@react-native-community",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "quoteProps": "consistent",
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "es5",
        "useTabs": false
      }
    ]
  },
  "ignorePatterns": [
    "node_modules/",
    "packages/react-native-*/lib",
    "packages/sample/babel.config.js",
    "packages/sample/metro.config.js"
  ]
}
